.colorBoxContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


@media only screen and (max-width:757.98px){
    .colorBoxContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
    }
}
@media only screen and (max-width:575.98px){
    .colorBoxContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}