.main {
    margin-top: 6.1rem;
    height: 90.4vh;
     display: flex;
    flex-wrap: wrap;
  /*  align-items:flex-start; */
    overflow-Y: scroll;
}

.draggable-clrBox {
    display: inline-block;
    width: 20%;
    height: 25%;
}

.clrname-input {
    margin: 2rem;
}

.logo-icon-container {
    display: flex;
}

.btn-container {
    width: 35rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.custom-btn {
    width: 25rem;
    height: 3.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1.8rem;
    border-width: 0 .2rem .2rem 0;
}

.custom-btn:active {
    border-width: 0.2rem 0rem 0rem 0.2rem;
}

.custom-btn:hover {
    opacity: .8;
}


.go-back-btn {
    background-color: tomato;
    color: white;

}

.save-palette-btn {
    background-color: rgba(138, 17, 94, 0.694);
    color: white;
}