.main{
    margin-top:6.2rem;
    height: 90.4vh;
    display: flex;
    flex-wrap:wrap;
    overflow-Y: scroll;
    
}

.main-div{
    display: inline-block;
    width: 20%;
    height:25%;
}

.clrname-input{
    margin:2rem;
}