.main {
    margin-top: 6.5rem;
    height: 90vh;
    overflow-Y: scroll;
}

.main::-webkit-scrollbar{
    width: 1rem;
}
.main::-webkit-scrollbar-thumb{
    color:grey
}

.emptyMain-h1{
    color:rgba(152, 152, 152, 0.826);
    width: 100%;
    height: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
}
.emptyMain-h1::-webkit-scrollbar{
    width: 1rem;
}
.emptyMain-h1::-webkit-scrollbar-thumb{
    color:grey
}

.clrname-input {
    margin: 2rem;
}

.logo-icon-container {
    display: flex;
}

.btn-container {
    width: 25rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right:0rem
}

.custom-btn {
    width: 25rem;
    height: 3.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1.8rem;
    border-width: 0 .2rem .2rem 0;
}

.custom-btn:active {
    border-width: 0.2rem 0rem 0rem 0.2rem;
}

.custom-btn:hover {
    opacity: .8;
}


.go-back-btn {
    background-color: tomato;
    color: white;

}

.save-palette-btn {
    background-color: rgba(138, 17, 94, 0.694);
    color: white;
}

.disableBtn {
    width: 25rem;
    height: 3.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 1.8rem;
}

@media only screen and (max-width: 767.98px) {
    .main{
        margin-top:5.9rem
    }
    .btn-container {
        width: 15rem;
        height: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .custom-btn {
        height: 3.5rem;
        padding: 0.5rem;
        margin: 0.5rem;
        border-radius: 1.8rem;
        border-width: 0 .2rem .2rem 0;
        font-size: 1rem;
    }
    .save-palette-btn {
        font-size:1rem
    }
    .disableBtn {
        padding: 0.2rem;
        font-size: 1rem;
    }
}


@media only screen and (max-width: 575.98px) {
    .emptyMain-h1{
        font-size:.6rem ;
    }
    
    
}
