@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.AllPalette{
    width:100%;
    background:url("https://images.pexels.com/photos/6331082/pexels-photo-6331082.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    background-size: cover;
    background-position: center;
    margin:0 auto ;
    display:flex;
    flex-direction:column;
}

.allPalette-h1{
    margin-top:3rem;
    font-size:4rem;
    text-shadow:7px 6px 1px #CCCCCC,
    5px 6px 1px #EEEEEE,
    6px 5px 1px #CCCCCC,
    4px 5px 1px #EEEEEE,
    5px 4px 1px #CCCCCC,
    3px 4px 1px #EEEEEE,
    4px 3px 1px #CCCCCC,
    2px 3px 1px #EEEEEE,
    3px 2px 1px #CCCCCC,
    1px 2px 1px #EEEEEE,
    2px 1px 1px #CCCCCC,
    0px 1px 1px #EEEEEE,
    1px 0px 1px #CCCCCC;
}

.allPalette-span{
    font-family: "Dancing Script", cursive;

}

.cards{
    width:100%;
    height:100%;
    margin:2rem auto 0 auto;
    flex-wrap: wrap;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

.cards::-webkit-scrollbar{
    width:0;
}

.card{
    margin:2rem;
}