.palette{
    height:100vh;
    overflow: hidden;

}
.palette-colors{
    height:89.5%;
}

.span-msg{
    font-size:1.3rem;
}

.footer{
    font-size:1.5rem;
    font-weight: bold;
    width:100%;
}

.footer-p{
    float :right;
    margin-right:1rem;
    letter-spacing: .1rem;
}