.palette-card{
    background-color:whitesmoke;
    width:20rem;
    height:20rem;
    /* border:.2rem solid black; */
    border-radius:1.2rem;
    overflow:hidden;
}

.palette-card:hover{
    /* box-shadow: 0 0 3rem rgb(240, 170, 117); */
    /* width:22rem;
    height:22rem; */
    transform:scale(1.1);
    transition:.1s linear
}

.color-container{
    margin:0rem 0 1rem 0;
    width:100%;
    height:80%;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* border:.2rem solid black; */
    overflow:hidden;
    /* border-radius:1rem; */
}

.color-box-s{
    width:25%;
    height:20%;    
}


.name-share{
    margin-top:.5rem
}

.card-name{
    color:black;
}