.slider-container{
    width:50rem;
    margin:.2rem;
    border:.2rem solid black;
    display:flex;
    align-items:center;
}
.slider-p{
    font-size:1.5rem;
    font-weight: bold;
    width:20%;
    display:inline-block;
}

.slider{
    width:75%;
    margin:0 .2rem;
}

.rc-slider-track {
    background-color:black;
    
}

.rc-slider-handle,.rc-slider-handle:active,.rc-slider-handle:hover,.rc-slider-handle:focus{
    background-color:white;
    border-color:black;
    outline:none;
}

